<div id="slider">
  <div class="slogan">
    <h1>Львівська обласна <br>федерація черліденгу</h1>
    <p>Знайди себе у світі краси, здоров'я і фантастичного танцю</p>
    <a href="#about" class="transition">Більше</a>
  </div>
  <ul>
    <li>
      <img src="img/main3.jpg" alt="">
    </li>
  </ul>
  
</div>
<div id="about" class="about">
  <h1 class="title">Черліденг</h1>
  <!-- <div class="row"> -->
  <div class="row">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FJBwl-T0Hu0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row about-info">
    <div class="col-md-12">
      <h2>(англ. Cheerleading) - мистецтво, яке поєднує в собі елементи шоу <br> і видовищних видів спорту (танці, гімнастика
        та акробатика).</h2>
      <p>Також черліденг - це перформанси груп підтримки спортивних клубів.</p>
      <p>Чемпіонати з черліденгу проводяться в декількох номінаціях, серед яких:
        <br> · Чір - елементи спортивної гімнастики та акробатики, побудова пірамід та танцювальні перебудови під гучні кричалки;
        <br> · Данс - спортивні танці з елементами гімнастики і притаманними їй хореографією, грацією, та приголомшливою
        синхронністю;
        <br> · Стант - колективна побудова пірамід;
        <br> та інші.
    </div>
  </div>
  <div class="row-custom row">
    <div class="slick">
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about4.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about2.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about3.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about1.jpg" alt="">
      </div>
    </div>
    <div class="paginator-center text-color text-center">
      <ul>
        <li class="prev slick-arrow" style=""></li>
        <li class="next slick-arrow" style=""></li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</div>
<div id="news" class="news">
  <div class="wrapper">
    <div class="row">
      <h1 class="title">Події</h1>
      <div class="news-item col-md-12">
        <div class="news-head clearfix">
          <span class="date">25-27 листопада <br>2016 р.</span>
          <div class="new">
            <h2>12 Кубок України з черліденгу</h2><br>
            <span class="location">м. Кам'янське</span>
          </div>
          <img class="first-img" src="img/bottom.png" alt="">
        </div>
        <div class="news-open clearfix">
          <div class="row">
            <div class="news-img col-md-6 col-sm-6">
              <img src="img/25-27.11.JPG" alt="">
            </div>
            <div class="news-content col-md-6 col-sm-6">
              <p>
                25-27 листопада у м. Кам'янське пройшов 12 Кубок України з черліденгу, в якому взяло участь 670 спортсменів з 10 регіонів
                України та м.Києва. <br/> Львів представляло 19 спортсменок, які привезли додому медалі усіх
                ґатунків. Результати: <br/> Категорія 5-8 років <br/> Чер-данс-джаз дует Семочко Тетяна - Кіш Юлія - 1 місце;<br/>                Чер-данс-фрістайл-дует Гродзіцька Єлизавета-Ковалевець Каміла - 3 місце;<br/> Чер-данс-джаз квартет Гродзіцька
                Є./Ковалевець К./Кіш Ю./Семочко Т. - 1 місце;<br/> Категорія 8-12 років: <br/> Чер-данс-джаз соло Вусатюк
                Вікторія - 2 місце;<br/> Чер-данс-джаз дует Вусатюк Вікторія-Гребінка Емма - 2 місце;<br/> Категорія юніори:<br/>                Джаз соло Максимів Соломія - 3 місце;<br/> Джаз дует Огнива Вікторія-Ігельська Еліна - 1 місце;<br/> Джаз
                квартет Огнива В./Ігельська Е./Вусатюк В./Максимів С. - 2 місце; <br/> Фрістайл дует Сірак Дарина-Малошенко
                Анастасія - 2 місце;<br/> Фрістайлквартет Ониськів К./Сірак Д./Малошенко А./Труш С. - 3 місце;<br/> Категорія
                дорослі:
                <br/> Джаз дует Даценко Анастасія - Мриц Анна-Марія - 3 місце <br/> Усі спортсменки є представницями ФСТ
                "Динамо" КДЮСШ "Здоров'я", котрі тренуються на базі школи "Lviv Angels". <br/> Тренери, які підготували спортсменок:
                Блажко Наталя, Юдіна Лідія, Горак Марія. Висловлюємо свою подяку Всеукраїнській Федерації Черліденгу та Кам'янській
                Федерації Черліденгу за чудову організацію!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="news-item col-md-12">
        <div class="news-head clearfix">
          <span class="date">24 листопада <br>2016 р.</span>
          <div class="new">
            <h2>12 років Всеукраїнській Федерації Черліденгу</h2><br>
            <!-- <span class="location"></span> -->
          </div>
          <img class="first-img" src="img/bottom.png" alt="">
        </div>
        <div class="news-open clearfix">
          <div class="row">
            <div class="news-img col-md-6 col-sm-6">
              <img src="img/24.11.fed-birth.jpg" alt="federation's birthday">
            </div>
            <div class="news-content col-md-6 col-sm-6">
              <p>
                Львівська Федерція вітає Всеукраїнську Федерацію Черліденгу з дванадцятою річницею!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="news-item col-md-12">
        <div class="news-head clearfix">
          <span class="date">13 листопада <br>2016 р.</span>
          <div class="new">
            <h2>2-ий Відкритий Кубок Львівської області</h2><br>
            <span class="location">м. Львів, СЗШ N83</span>
          </div>
          <img class="first-img" src="img/bottom.png" alt="">
        </div>
        <div class="news-open clearfix">
          <div class="row">
            <div class="news-img col-md-6 col-sm-6">
              <img src="img/S63.13.10.jpg" alt="">
            </div>
            <div class="news-content col-md-6 col-sm-6">
              <p>
                13 листопада відбувся 2-ий Відкритий Кубок Львівської області, в якому взяло участь 150 спортсменок з м.Львова та м.Южне
                (одеська обл). <br/> Найкращі спортсменки були відібрані для участі у Кубку України в м.
                Кам'янське (колишній Дніпродзержинськ) Висловлюємо велику подяку Управлінню фізичної культури та спорту,
                Львівському відділенню Олімпійського комітету та директорові СЗШ N83 (Єзерському Р.Ю.) за допомогу в проведенні
                змагань.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="news-item col-md-12">
        <div class="news-head clearfix">
          <span class="date">17 вересня <br>2016 р.</span>
          <div class="new">
            <h2>Ліга Парі-Матч "Карпати" - "Чорноморець"</h2><br>
            <span class="location">м. Львів, стадіон "Арена Львів"</span>
          </div>
          <img class="first-img" src="img/bottom.png" alt="">
        </div>
        <div class="news-open clearfix">
          <div class="row">
            <div class="news-img col-md-6 col-sm-6">
              <img src="img/arena17.09.jpg" alt="">
            </div>
            <div class="news-content col-md-6 col-sm-6">
              <p>Вперше Львівські черлідери виступали та вболівали за футбольний клуб "Карпати"!
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="toall-link">
        <a href="events.html" class="transition">Перейти до всіх подій</a>
      </p>
    </div>
  </div>
</div>
<!--and of .about-->
<div id="gallery" class="clearfix">
  <h1 class="title">Фотогалерея</h1>
  <div class="row">
    <div class="photos photos-main popup-gallery col-xs-12">
    </div>
  </div>
  <p class="toall-link">
    <a href="gallery.html" class="transition">Перейти до всіх фото</a>
  </p>
</div>
<!--end of #gallery-->
<div id="info" class="clearfix">
  <div class="title">Наші досягнення</div>
  <div id="federation-content" class="row">
    <div class="info-item col-md-12">
      <div class="info-open row">
        <div class="success-item row">
          <div class="success-img col-md-4 col-sm-6">
            <img src="img/success3.jpg" alt="">
          </div>
          <div class="success-content col-md-8 col-sm-6">
            <h3 class="title2">Бронзові призери Чемпіонату Європи 2015</h3>
            <p>Возняк Тетяна та Кручок Анна-Марія посіли третє місце у складі збірної України з черліденгу на Чемпіонаті Європи
              у місті Любляни. Номінація "чер-данс-джаз-команда".</p>
          </div>
        </div>
        <div class="success-item row">
          <div class="success-img col-md-4 col-sm-6">
            <img src="img/success2.jpg" alt="">
          </div>
          <div class="success-content col-md-8 col-sm-6">
            <h3 class="title2">Переможці Чемпіонату України</h3>
            <p>Вусатюк Вікторія та Гребінка Емма посіли перше місце на Чемпіонаті України, який відбувся 5-6 березня у місті
              Дніпроджержинськ. Номінація "чер-данс-джаз-дует" серед дітей 8-12 років.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="toall-link">
      <a href="federation.html" class="transition">Перейти до всієї інформації</a>
    </p>
  </div>
</div>
<!--end of info-->
