<div id="slider">
  <div class="slogan">
    <h1>Львівська обласна <br>федерація черліденгу</h1>
    <p>Знайди себе у світі краси, здоров'я і фантастичного танцю</p>
    <a href="#about" class="transition">Більше</a>
  </div>
  <ul>
    <li>
      <img src="img/main3.jpg" alt="">
    </li>
  </ul>
  
</div>
<div id="about" class="about">
  <h1 class="title">Черліденг</h1>
  <!-- <div class="row"> -->
  <div class="row">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FJBwl-T0Hu0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row about-info">
    <div class="col-md-12">
      <h2>(англ. Cheerleading) - мистецтво, яке поєднує в собі елементи шоу <br> і видовищних видів спорту (танці, гімнастика
        та акробатика).</h2>
      <p>Також черліденг - це перформанси груп підтримки спортивних клубів.</p>
      <p>Чемпіонати з черліденгу проводяться в декількох номінаціях, серед яких:
        <br> · Чір - елементи спортивної гімнастики та акробатики, побудова пірамід та танцювальні перебудови під гучні кричалки;
        <br> · Данс - спортивні танці з елементами гімнастики і притаманними їй хореографією, грацією, та приголомшливою
        синхронністю;
        <br> · Стант - колективна побудова пірамід;
        <br> та інші.
    </div>
  </div>
  <div class="row-custom row">
    <div class="slick">
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about4.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about2.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about3.jpg" alt="">
      </div>
      <div class="about-photo col-md-3 col-sm-6">
        <img src="img/about1.jpg" alt="">
      </div>
    </div>
    <div class="paginator-center text-color text-center">
      <ul>
        <li class="prev slick-arrow" style=""></li>
        <li class="next slick-arrow" style=""></li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</div>
<div id="news" class="news">
  <div class="wrapper">
    <div class="row">
      <h1 class="title">Події</h1>
      <app-events-list [sendetCount]=4></app-events-list>
      <p class="toall-link">
        <a routerLink="/events" class="transition">Перейти до всіх подій</a>
      </p>
    </div>
  </div>
</div>
<!--and of .about-->
<div id="gallery" class="clearfix">
  <h1 class="title">Фотогалерея</h1>
  <div class="row">
    <div class="photos photos-main popup-gallery col-xs-12">
    </div>
  </div>
  <p class="toall-link">
    <a href="gallery.html" class="transition">Перейти до всіх фото</a>
  </p>
</div>
<!--end of #gallery-->
<div id="info" class="clearfix">
  <div class="title">Наші досягнення</div>
  <div id="federation-content" class="row">
    <div class="info-item col-md-12">
      <div class="info-open row">
        <div class="success-item row">
          <div class="success-img col-md-4 col-sm-6">
            <img src="img/success3.jpg" alt="">
          </div>
          <div class="success-content col-md-8 col-sm-6">
            <h3 class="title2">Бронзові призери Чемпіонату Європи 2015</h3>
            <p>Возняк Тетяна та Кручок Анна-Марія посіли третє місце у складі збірної України з черліденгу на Чемпіонаті Європи
              у місті Любляни. Номінація "чер-данс-джаз-команда".</p>
          </div>
        </div>
        <div class="success-item row">
          <div class="success-img col-md-4 col-sm-6">
            <img src="img/success2.jpg" alt="">
          </div>
          <div class="success-content col-md-8 col-sm-6">
            <h3 class="title2">Переможці Чемпіонату України</h3>
            <p>Вусатюк Вікторія та Гребінка Емма посіли перше місце на Чемпіонаті України, який відбувся 5-6 березня у місті
              Дніпроджержинськ. Номінація "чер-данс-джаз-дует" серед дітей 8-12 років.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="toall-link">
      <a href="federation.html" class="transition">Перейти до всієї інформації</a>
    </p>
  </div>
</div>
<!--end of info-->
