.contact {
  .map-container {
    padding-left: 15px;
    margin-bottom: 30px;
    .map-links {
      position: relative;
      padding: 10px 15px 0 30px;
      h2 {
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }
      li {
        position: relative;
        &:before {
          content: url(../img/map-list-img.png);
          position: absolute;
          top: 3px;
          left: -23px;
        }
      }
      a {
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
        cursor: pointer;
        &:hover,
        &.active-map {
          border-bottom: 1px solid #999;
        }
      }
      p {
        margin-bottom: 10px;
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
    }
    iframe {
      border: 0;
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
  .form-container {
    margin-bottom: 30px;
    .form {
      text-align: justify;
      form {
        max-width: 100%;
        label {
          font-size: 20px;
          line-height: 35px;
        }
        input {
          height: 40px;
        }
        textarea {
          padding-top: 20px;
        }
        input,
        textarea {
          border: 1px solid #999;
          margin-bottom: 15px;
          padding-left: 10px;
          width: 100%;
        }
        .left-form {
          padding: 10px;
          float: left;
          width: 50%;
        }
        .right-form {
          padding: 10px;
          float: right;
          width: 50%;
          button {
            text-decoration: none;
            width: 146px;
            height: 46px;
            border: none;
            border-radius: 0;
            background-color: #f65358;
            color: #fff;
            border: 2px solid #f65358;
            font-size: 20px;
            font-weight: bold;
            float: right;
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: #fff;
              border: 2px solid #f65358;
              color: #f65358;
            }
          }
        }
      }
    }
  }
}
