.header-contacts {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
  background-color: #1a1b24;
  color: #fff;
  z-index: 3;
}

header {
  position: fixed;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #262734;
  z-index: 3;
  .logo {
    height: 60px;
    padding: 5px 15px 5px 0;
    img {
      height: 100%;
      width: auto;
    }
  }
  #touch-menu {
    display: none;
    color: #f65358;
  }
  .site-nav {
    ul {
      width: 60%;
    }
    li {
      float: left;
      margin-right: 25px;
      /*line-height: 57px;*/
      line-height: 60px;
    }
    .last {
      margin-right: 0;
    }
    a {
      position: relative;
      /*height: 59px;*/
      color: #fff;
      font-size: 14px;
      font-family: 'Roboto Bold Condensed', arial;
      font-weight: bolder;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:hover,
      &.nav-link-focus {
        color: #f65358;
      }
      .nav-link-focus:after,
      &:after {
        content: ' ';
        position: absolute;
        bottom: -22px;
        left: 0;
        width: 0%;
        display: block;
        height: 3px;
        background-color: #f65358;
        transition: all ease 0.5s;
      }
      &.nav-link-focus:after,
      &:hover:after {
        /*opacity: 1;*/
        width: 100%;
      }
    }
  }
}
