<div class="header-contacts">
  <div class="row">
    <div class="offset-md-1 col-xs-10 col-md-10 ">
      <h2 class="number right">+38 (068) 999 16 19</h2>
      <h2 class="email left">lviv.angels.ua@gmail.com</h2>
    </div>
  </div>
</div>
<header class="row">
  <div class="offset-xs-1 offset-md-1 col-xs-10 col-md-10">
    <div class="logo left">
      <a routerLink="/">
        <img src="../img/logo.png" width="48" height="50" alt="logo">
      </a>
    </div>
    <a href="#" id="touch-menu">Меню</a>
    <ul class="site-nav right">
      <li><a routerLink="/" [ngClass]="{'nav-link-focus': this.router.url == '/'}" class="transition" >Головна</a></li>
      <li><a routerLink="/events" routerLinkActive="nav-link-focus" class="transition">Події</a></li>
      <li><a routerLink="/gallery" routerLinkActive="nav-link-focus" class="transition">Фотогалерея</a></li>
      <li><a routerLink="/federation" routerLinkActive="nav-link-focus" class="transition">Федерація</a></li>
      <li class="last"><a routerLink="/contacts" routerLinkActive="nav-link-focus" class="transition">Контакти</a></li>
    </ul>
  </div>
</header>
